.heading1 {
    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}

.nav {
    background-color: #671a1a;
    padding: 15px 0;
}

.container {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}